body{
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
}

h1{
    color: rgb(54, 102, 86); 
    margin-bottom: 10px; 
}

ul{
    list-style-type: none;
    padding: 1;
    margin: 2;
}

li{
    background-color: #fff; 
    border: 2px  solid #9c0000;   
    padding: 8px;            
    margin: 6px ;      
}