body {
  
    background-color: #f5f5f5; /* Cor de fundo  */
    margin: 0;
    padding: 0;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: center;
}

.product-image {
    width: 100%; /* Largura adaptável ao contêiner */
    height: 400px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Cobre o espaço mantendo a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
}

.product-title {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-description {
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}