body{
    justify-content: center; 
    background-color: #4c7faf;
    font-family: Arial, sans-serif;
}
h1{
    color: #091f2e;
    text-align: center;
}

p{
    color: #ffffff;
    text-align: center;
   
}
a{
    /*tracinho do link*/
    color: #ffffff; /*cor do link*/
    
}