*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background: #002488;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    float: left;
    width: 150px;
}

nav{
    float: right;
    margin-top: 10px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-left: 10px;
}

nav ul li a{
    color:#ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover{
background: #040b63;
border-radius: 5px;
}

.hero{
    background: url('../images/pft.jpg') no-repeat center center/cover;
    color:#000000;
    text-align: justify;
    padding: 150px ;
    background-position: right center;
    background-position: 20% 40%;    /* 20% à direita e 40% abaixo */
background-position: 30px 60px;  /* 30px à direita e 60px abaixo */
background-position: 20px 40%;   /* 20px à direita e 40% abaixo */

}

.hero-content{
    max-width: 600px;
    margin: 0 auto;
}

.cta-button{
    display: inline-block;
    background: #024c9c;
    color:#fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
background: #0056b3;

}

.features{
    padding:20px 0;
}

.feature{
    background: #fff;
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.feature img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer{
    background: #002488;
    color: #fff;
    text-align: center;
    padding:10px 0;
}